<template>
  <!--<div></div>-->
  <table-self :tableData="tableData" v-if="tableData"></table-self>
</template>
<script>
import tableSelf from '../../components/table'
export default{
	data () {
		return {
			tableData: [
				{
					name: '标物名称',
					content: '昆明市经济技术开发区各个地区房产啊哈哈哈'
				}, {
					name: '权证情况',
					sub: [
						{
							name: '执行裁定书',
							content: '卧槽还有这玩意'
						}, {
							name: '房屋产权证',
							content: '我没有啊'
						}, {
							name: '土地产权证',
							content: ''
						}
					]
				}, {
					name: '你猜这是啥'
				}, {
					name: '卧槽你怎么有3个',
					sub: [
						{
							name: '执行裁定书',
							sub: [
								{
									'name': 'FUCK YOU',
									'content': '妈的终于到我了'
								}, {
									'name': 'FUCK YOU2',
									'content': '妈的终于到我了2'
								}
							]
						}, {
							name: '房屋产权证',
							content: '我没有啊'
						}, {
							name: '土地产权证',
							content: ''
						}
					]
				}
			]
		}
	},
	components: {
		tableSelf
	}
}
</script>
