<template>
  <div class="my-container">
    <div class="pass_list">
      <div class="pass_list_sub">
        <span class="list_label">用户名</span>
        <input class="list_input" type="text" v-model="userName"  placeholder="请输入用户名"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">密码</span>
        <input class="list_input" password="true" type="text" v-model="passWord" placeholder="请输入密码"/>
      </div>
    </div>
    <div class="button-submit" @click="login">确 认</div>
  </div>
</template>

<script>
import {ztLogin, ztStaffInfo} from '../../fetchData/fetchMyProfile'
import {isZTlogin} from '../../fetchData/ZTAPI'
import store from '../../store/store'
import Tips from '../../utils/tipUtil/tips'
export default {
	data () {
		return {
			userName: '',
			passWord: ''
		}
	},

	components: {

	},

	methods: {
		async login () {
			wx.showLoading({
				title: '登陆中'
			})
			let value = await ztLogin({
				'username': this.userName,
				'password': this.passWord
			})
			store.commit('ZT_Info', {
				digest: value.digest,
				telNo: value.telNo,
				uid: value.uid,
				name: value.name,
				username: value.username
			})
			if (value.code === '100') {
				store.commit('Login', true)
				let valueLogin = isZTlogin()
				this.passWord = ''
				if (valueLogin) {
					let ztInfo = await ztStaffInfo(value.uid)
					store.commit('ZT_Info', {
						...ztInfo
					})
					wx.hideLoading()
					wx.navigateBack({
						delta: 1,
						success: function () {
							Tips.toast({
								title: '登录成功'
							})
						}
					})
				} else {
					wx.hideLoading()
					Tips.toast({
						title: '登录失败，请重新登录'
					})
				}
			}
		}
	}
}
</script>

<style scoped>
  .my-container{
    padding-top:1px;
    height:100%;
    background:#f7f7f7;
  }
  .pass_list{
    margin-top:10rpx;
    background:#fff;
    padding:22rpx 0 1px;
  .pass_list_sub{
    width:680rpx;
    margin:0 auto 22rpx;
    height:64rpx;
    display:flex;
    font-size:30rpx;
  .list_label{
    flex:0 0 170rpx;
    color:#aaaaaa;
    line-height:64rpx;
  }
  .list_input{
    width:100%;
    height:100%;
    border:1px solid #cccccc;
    text-indent:10rpx;
  }
  }

  }
  .button-submit{

    width:674rpx;
    height:80rpx;
    color:#fff;
    font-size:30rpx;
    line-height:80rpx;
    text-align: center;
    background:#ff3520;
    margin:30rpx auto 0;
  }
</style>

