<template>
  <div  :class="[url||'on','list_image']" @click="FN_preview">
    <div v-if="url" class="list_image_close" @click.stop="deleteImage"></div>

    <div class="image_canvas canvas"  @click="loadImage">{{isShow}}</div>
    <canvas class="image_2" canvas-id="WaterMarkCanvas" style="width:2000px;height:2000px"></canvas>
    <image v-if="url" :src="url+'?imageView2/1/w/200/h/200'"  mode="aspectFill" class="image"></image>
  </div>
  <!--<div @click="loadImage">点我</div>-->
  <!--<image :src="url" mode="widthFix"></image>-->
  <!--<image src="../../static/images/waterMark_test.png" ></image>-->
</template>
<script>
import waterMarkData from './waterMark.config.json'
import {apiDeps} from '../../http/api'
import {host} from '../../config/apiconfig/config'
import {deleteImgFileApi} from '../../fetchData/fetchDiscover'
import Tips from '../../utils/tipUtil/tips'

export default{
	data () {
		return {
			isShow: false,
			canvasWidth: '',
			canvasHeight: '',
			canvasScale: false,
			canvasID: 'WaterMarkCanvas' + this.index,
			url: null,
			context: wx.createCanvasContext('WaterMarkCanvas'),
			...waterMarkData
		}
	},
	onLoad () {
		this.initData()
		// console.log(this.listInfo, this.index, '123')
		this.url = this.listInfo.pathUrl
		console.log(this.listInfo.url, 'url')
	},
	props: {
		index: Number,
		listInfo: Object,
		fetch: Function,
		preview: Function
	},
	methods: {
		initData () {
			this._data = {
				isShow: false,
				canvasWidth: '',
				canvasHeight: '',
				canvasScale: false,
				canvasID: 'WaterMarkCanvas' + this.index,
				url: null,
				context: wx.createCanvasContext('WaterMarkCanvas'),
				...waterMarkData
			}
		},
		FN_preview () {
			if (this.url) {
				this.$emit('preview', this.index)
			}
		},
		loadImage () {
			if (this.url) return
			let _this = this
			wx.chooseImage({
				count: 1,
				sizeType: ['original'],
				sourceType: ['album', 'camera'],
				success: function (res) {
					console.log(res)
					let path = res.tempFiles[0].path
					// let size = res.tempFiles[0].size
					_this.drawChoosImage(path)
					wx.hideLoading()
					wx.showLoading({
						title: '图片处理中',
						mask: true
					})
				},
				fail: function (res) {
					console.log(res)
				},
				complete: function () {

				}
			})
		},
		drawChoosImage (path) {
			let _this = this
			// this.setH()
			this.waterMarkWord = new Date()
			this.show = true
			wx.getImageInfo({
				src: path,
				success: function (res) {
					_this.isShow = true
					_this.context.clearRect(0, 0, _this.canvasWidth, _this.canvasHeight)
					_this.canvasWidth = res.width
					_this.canvasHeight = res.height
					let width = res.width
					let height = res.height
					/**
             *
             * 1.宽高比大于canvas
             * 宽长，若宽大于canvas缩宽
             * 2.宽高比小于canvas
             * 高长，若高大于canvas缩宽
             * */
					if (!_this.canvasScale) {
						_this.canvasScale = _this.canvasWidth / _this.canvasHeight
					}
					let imageScale = width / height
					let scale = 1
					if (imageScale > _this.canvasScale) {
						if (width > _this.canvasWidth) {
							height = _this.adaptWidth(width, height, _this.canvasWidth)
							scale = _this.canvasWidth / width
							width = _this.canvasWidth
						}
					} else {
						if (height > _this.canvasHeight) {
							width = _this.adaptHeight(width, height, _this.canvasHeight)
							scale = _this.canvasHeight / height
							height = _this.canvasHeight
						}
					}

					let x = (_this.canvasWidth - width) / 2
					let y = (_this.canvasHeight - height) / 2
					_this.context.drawImage(path, x, y, width, height)
					_this.drawWaterMarkAll(x, y, width, height, scale)
					// _this.context.draw(true, function () {
					// 	wx.canvasGetImageData({
					// 		canvasId: 'game-canvas-answer',
					// 		x: x,
					// 		y: y,
					// 		width: width,
					// 		height: height,
					//
					// 		success: function (res) {
					// 			let arrayBuffer = upng.encode([res.data.buffer], res.width, res.height)
					// 			let imageBase64 = wx.arrayBufferToBase64(arrayBuffer)
					// console.log(imageBase64)
					// 		}
					// 	})
					// })
					_this.context.draw(true, () => {
						_this.cutCanvas(x, y, width, height, res.width, res.height)
					})
				}
			})
		},
		adaptWidth (w1, h1, tw1) {
			return h1 / w1 * tw1
		},
		adaptHeight (w1, h1, th1) {
			return w1 / h1 * th1
		},
		drawWaterMarkAll (x, y, width, height, scale) {
			let line = Math.ceil(width / (this.waterMarkPos[0] * scale))
			let col = Math.ceil(height / (this.waterMarkPos[1] * scale))
			for (let i = 0; i < line; i++) {
				for (let j = 0; j < col; j++) {
					console.log(1)
					this.drawWaterMark(i * this.waterMarkPos[0] * scale + x, j * this.waterMarkPos[1] * scale + y, scale)
				}
			}
		},
		drawWaterMark (rx, ry, scale) {
			let cx = rx + this.waterMarkPos[0] / 2 * scale
			let cy = ry + this.waterMarkPos[1] / 2 * scale
			if (!this.waterMarkType) {
				if (this.waterMarkWord) {
					this.drawText(cx, cy, scale)
				} else if (this.waterMarkImage) {

				} else {
					console.error('fuck you,please configure waterMark.config.json')
				}
			} else if (this.waterMarkType === 'text') {
				this.drawText(cx, cy, scale)
			} else if (this.waterMarkType === 'image') {

			}
		},
		drawText (x, y, scale) {
			this.context.save()
			this.context.translate(x, y)
			this.context.rotate(this.waterMarkRotate * Math.PI / 180)
			this.context.setFillStyle(this.waterMarkFontColor)
			// let length = this.waterMarkWord.length
			let fontSize = this.waterMarkPos[0] * scale * this.waterMarkSpaceRatio / 15
			this.context.setFontSize(fontSize)
			this.context.fillText(this.waterMarkWord, 0, 0)
			this.context.restore()
		},
		cutCanvas (x, y, width, height, rW, rH) {
			let _this = this
			wx.hideLoading()
			wx.showLoading({
				title: '图片裁剪中',
				mask: true
			})
			wx.canvasToTempFilePath({
				x: x,
				y: y,
				width: width,
				height: height,
				destWidth: rW,
				destHeight: rH,
				canvasId: 'WaterMarkCanvas',
				quality: '0.3',
				fileType: 'jpg',
				success: function (res) {
					wx.hideLoading()
					wx.showLoading({
						title: '图片上传',
						mask: true
					})
					_this.url = res.tempFilePath
					wx.uploadFile({
						url: `${host}/api/goodsPath/uploadKyFile`,
						filePath: res.tempFilePath,
						name: 'file',
						header: {'Access-Token': apiDeps['Access-Token']},
						formData: {
							file: res.tempFilePath,
							goodsId: _this.listInfo.goodsId,
							goodsDateId: _this.listInfo.id
						},
						success: function (resData) {
							console.log(resData)
							_this.$emit('fetch', '')
						}
					})
					// wx.request({
            	// url: res.tempFilePath,
            	// method: 'GET',
            	// responseType: 'arraybuffer',
            	// success: function (res) {
            	// 	let base64 = wx.arrayBufferToBase64(res)
            	// 	let a = 'data:image/jpg;base64,' + base64
            	// 	console.log(a)
            	// }
					// })
				}
			})
		},
		async deleteImage () {
			const deleteResult = await deleteImgFileApi({
				id: this.listInfo.id
			})
			if (deleteResult.code === '100') {
				Tips.toast({title: '图片删除成功'})
				this.$emit('fetch', '')
			} else {
				Tips.toast({title: deleteResult.msg})
			}
		}
	}
}
</script>
<style>
  .list_image{
    width:100%;
    height:100%;
    border:1px solid #cccccc;
    position:relative;
  .list_image_close{
    width:36rpx;
    height:36rpx;
    position:absolute;
    right:-18rpx;
    top:-18rpx;
    border-radius:50%;
    background:#fff url(../../../static/images/delete.png) center no-repeat;
    background-size:36rpx 36rpx;
    z-index:1;
  }
  .image_canvas{
    width:100%;
    height:100%;
  }
  .image_canvas.on{
  }
  .image{
    position:absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
  }
  .canvas{
    opacity: 0;
    position:absolute;
  }
  }
  .list_image.on{
    background:url(../../../static/images/icon_add.png) center no-repeat;
    background-size:120rpx 120rpx;
  }
  .image_2{
    opacity: 0;
    position:fixed;
    top:2000px;
    left:2000px;
  }
</style>
