<template>
  <!--判断是否是标签节点-->
  <block v-if="node.node == 'element'">


    <!--table类型-->
    <block v-if="node.tag == 'table'">
      <view :class="node.classStr" class="table" :style="node.styleStr">
        <!--tr-->
        <view v-for="(nodeA, indexA) of node.nodes" :key="indexA">
          <!--td-->
          <view v-for="(nodeB, indexB) of nodeA" :key="indexB">
            <!--p-->
            <block v-if="nodeB.nodes">
              <block  v-for="(nodeC, indexC) of nodeB" :key="indexC">

                <block v-if="nodeC.nodes">
                  <block  v-for="(nodeD, indexD) of nodeC" :key="indexD">

                    <block v-if="nodeD.nodes">
                      <block  v-for="(nodeE, indexE) of nodeD" :key="indexE">
                      </block>
                    </block>
                    <span v-else>D+{{nodeD.text}}</span>

                  </block>
                </block>
                <span v-else>C+{{nodeC.text}}</span>

              </block>
            </block>
            <span v-else>B+{{nodeB.text}}</span>
          </view>
        </view>
      </view>
    </block>

    <!--<view  v-if="nodeC.nodes" v-for="(nodeD, indexD) of nodeC" :key="indexD">-->
    <!--<view  v-if="nodeD.nodes" v-for="(nodeE, indexE) of nodeD" :key="indexE">-->
    <!--</view>-->
    <!--<span v-else>{{node.text}}</span>-->
    <!--</view>-->
    <!--<span v-else>{{node.text}}</span>-->

    <!--br类型-->
    <block v-else-if="node.tag == 'br'">
      <text>\n</text>
    </block>

    <!--其他标签-->
    <block v-else>
      <view :class="node.classStr" :style="node.styleStr">
        <block v-for="(node, index) of node.nodes" :key="index">
          <wx-parse-template :node="node" />
        </block>
      </view>
    </block>

  </block>

  <!--判断是否是文本节点-->
  <block v-else-if="node.node == 'text'">{{node.text}}</block>
</template>

<script>
/* eslint-disable */
  import wxParseTemplate from './wxParseTemplate1';
  import wxParseImg from './wxParseImg';
  import wxParseVideo from './wxParseVideo';
  import wxParseAudio from './wxParseAudio';

  export default {
    name: 'wxParseTemplate0',
    props: {
      node: {},
    },
    onLoad(){
      console.log(0)
    },
    components: {
      wxParseTemplate,
      wxParseImg,
      wxParseVideo,
      wxParseAudio,
    },
    methods: {
      wxParseATap(e) {
        const { href } = e.target.dataset;
        if (!href) return;
        this.node.$host.navigate(href, e);
      },
      aaa(a){
        console.log(a)
      }
    },
  };
  /* eslint-enable */
</script>

<style>
  .table{
    width :calc(100% - 10rpx);
    margin:0 auto;
    box-sizing:border-box;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    text-align: center;
  }
  .tr{
    display: flex;
    align-items:stretch;
    box-sizing:border-box;
    border-bottom:1px solid black;
  }
  .t1{
    flex: 0 0 200rpx;
    box-sizing:border-box;
    border-right:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .t2{
    width:100%;
  }
  .t-w{
    display: flex;
    align-items:stretch;
    border-bottom:1px solid black;
  }
  .t-w:last-child{
    border-bottom:none;
  }
  .t3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 200rpx;
    padding:15rpx;
    border-right:1px solid black;
  }
  .t5{
    flex: 0 0 100rpx;
  }
  .t4{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    box-sizing:border-box;
  }
</style>
