<template>
  <section class="searchlist">
    <div class="searchDiv">
      <input type="text" class="weui-search-bar__input" placeholder="请输入搜索信息" v-model="searchVal" />
      <div @click="searchBtn">
        <img src="../../../static/images/searchRed.png" alt="">
      </div>
    </div>
    <section class="sortView">
      <sort-view
        v-for="(sortItem, sortIndex) in sortData"
        :key="sortIndex"
        :sortInfo="sortItem"
        :sortIndex="sortIndex"
        @sortWay="sortWay"
      />
    </section>
    <section class="lineSpace1"></section>
    <section class="typeView">
      <div class="typeDiv" v-for="(typeItem, typeIndex) in typeData" :key="typeIndex" @click="selectType(typeItem)">
				<select-city
				 	v-if="typeItem.key==='area'"
					@onCityChange="onCityChange"
					:title="typeItem.title"
				>
					<span class="typeSpan">{{title}}</span>
				</select-city>
        <!-- <picker v-if="typeItem.key==='area'" class="weui-btn pickerView" mode="region" :value="region" @change="cityChange">
          <span class="typeSpan">{{typeItem.title}}</span>
        </picker> -->
        <span v-else class="typeSpan">{{typeItem.title}}</span>
      </div>
    </section>
    <section class="lineSpace2">
      <div class="positionCenterDiv" v-if="showTypeSelector">
        <div class="positionContain">
          <goods-type
            v-if="selectTypeKey === 'type'"
            :goodsData="goodsData"
            @selectTypeFn="selectTypeFn"
          />
          <price-range
            v-else-if="selectTypeKey === 'price'"
            :priceRange="priceRange"
            @selectPriceRangeFn="selectPriceRangeFn"
          />
          <courts
            v-else-if="selectTypeKey === 'court'"
            :courts1="courts1"
            :courts2="courts2"
            @selectCourts1Fn="selectCourts1Fn"
            @selectCourts2Fn="selectCourts2Fn"
          />
        </div>
        <div class="bottomBtnDiv">
          <div @click="cancelButton"><span>取消</span></div>
          <div @click="confirmButton"><span>确定</span></div>
        </div>
      </div>
    </section>
    <section class="tabsSection">
      <scroll-view
        scroll-y
        @scrolltolower="loadMore"
      >
        <list-single-view
          v-for="(listItem, listIndex) in listData"
          :key="listIndex"
          :listInfo="listItem"
          @toDetail="toDetailPage"
        />
				<empty-tip v-if="listData.length === 0"/>
				<loadmore :loadMore="showLoadMore" v-if="listData.length>0"/>
      </scroll-view>
    </section>
  </section>
</template>

<script>
import selectCity from '../../components/selectCity'
import listSingleView from '../../components/listSingleView'
import sortView from './component/sortView'
import goodsType from './component/goodsType'
import priceRange from './component/priceRange'
import courts from './component/courts'
import {getSearchListApi, getCourtCityApi, getCourtAllApi} from '../../fetchData/fetchDiscover'
import Tips from '../../utils/tipUtil/tips'
import {goodTypeData, priceData} from '../../utils/data/discoverData'
import loadmore from '../../components/loadmore'
import emptyTip from '../../components/emptyTip'

export default {
	data () {
		return {
			searchVal: '',
			region: ['广东省', '广州市', '海珠区'],
			listData: [], // 列表数据
			sortData: [], // 升降序选择
			typeData: [], // 类型选择
			goodsData: [], // 物品类型
			priceRange: [], // 价格区间
			courts1: [], // 所属法院列表left
			courts2: [], // 所属法院列表right
			showTypeSelector: false,
			selectTypeKey: '',
			scrollCount: 1,
			isLoadMore: true,
			filters: {
				sorter: 'auction_time DESC', // 筛选排序的值
				province: '', // 省
				city: '', // 市
				region: '', // 区/县
				goodsName: '', // 搜索的标的物名称,
				goodsTypeId: '', // 标的物类别
				courtId: '', // 法院id
				minPriceStart: '', // 起拍价-最小取值
				minPriceEnd: '', // 起拍价-最大取值
				currentPage: '1' // 当前页数
			} // 筛选的参数
		}
	},
	components: {
		selectCity,
		listSingleView,
		sortView,
		goodsType,
		priceRange,
		courts,
		loadmore,
		emptyTip
	},

	onLoad () {
		this.initSortData()
	},

	onShow () {
		this.getGoodsListData()
	},

	onUnload () {
		this.destoryData()
	},

	computed: {
		showLoadMore () {
			return (this.isLoadMore && this.listData.length >= 20)
		}
	},

	methods: {
		destoryData () {
			const filters = {
				sorter: 'auction_time DESC', // 筛选排序的值
				province: '', // 省
				city: '', // 市
				region: '', // 区/县
				goodsName: '', // 搜索的标的物名称,
				goodsTypeId: '', // 标的物类别
				courtId: '', // 法院id
				minPriceStart: '', // 起拍价-最小取值
				minPriceEnd: '', // 起拍价-最大取值
				currentPage: '1' // 当前页数
			}
			this.filters = {...this.filters, ...filters}
		},

		async initSortData () {
			this.sortData = [
				{
					title: '综合',
					key: 'zh',
					isSelected: true
				},
				{
					title: '人气',
					key: 'rq',
					count: 0
				},
				{
					title: '拍卖日期',
					key: 'date',
					count: 0
				},
				{
					title: '价格',
					key: 'price',
					count: 0
				}
			]

			this.typeData = [
				{
					title: '区域',
					key: 'area'
				},
				{
					title: '类型',
					key: 'type'
				},
				{
					title: '价格区间',
					key: 'price'
				},
				{
					title: '所属法院',
					key: 'court'
				}
			]

			this.goodsData = goodTypeData

			this.priceRange = priceData

			const courts1 = await getCourtCityApi()

			this.courts1 = courts1
		},

		// 获取标的物列表接口
		async getGoodsListData (params = this.filters) {
			// 搜索接口
			const searchResult = await getSearchListApi(params)
			this.listData = searchResult
			return []
		},
		// 升降序选择
		async sortWay (listIndex) {
			const newSortData = this.sortData.map((item, index) => {
				if (item.key === 'zh') {
					return {...item, isSelected: listIndex === index}
				} else {
					return { ...item, isSelected: listIndex === index, count: listIndex === index ? item.count + 1 : 0 }
				}
			})

			this.sortData = newSortData

			let sorter = ''
			const selectItem = this.sortData[listIndex]
			switch (selectItem.key) {
			case 'zh':
				sorter = 'auction_time DESC'
				break
			case 'rq':
				sorter = selectItem.count % 2 === 1 ? 'view_count ASC' : 'view_count DESC'
				break
			case 'date':
				sorter = selectItem.count % 2 === 1 ? 'auction_time ASC' : 'auction_time DESC'
				break
			case 'price':
				sorter = selectItem.count % 2 === 1 ? 'min_price ASC' : 'min_price DESC'
				break
			default:
				break
			}
			this.filters.sorter = sorter // 筛选排序的值

			await this.getGoodsListData(this.filters)
		},

		// 类型选择
		selectType (selectItem) {
			// 记录选择的类型按钮，定位视图中需要用到
			this.selectTypeKey = selectItem.key

			const newTypeData = this.typeData.map(item => {
				return {...item, count: (item.key === selectItem.key) ? (item.count || 0) + 1 : 0}
			})

			this.typeData = newTypeData

			if (selectItem.key === 'area') {
				this.hidePositionView()
				return
			}

			this.showTypeSelector = (selectItem.count || 0) % 2 === 0
		},

		handleTypeData () {
			const newTypeData = this.typeData.map(item => {
				return {...item, count: 0}
			})

			this.typeData = newTypeData
		},

		hidePositionView () {
			this.handleTypeData()
			this.showTypeSelector = false
		},
		// 取消
		cancelButton () {
			this.hidePositionView()
		},
		// 确定
		async confirmButton () {
			this.hidePositionView()

			await this.getGoodsListData(this.filters)
		},

		handleAddress (adress) {
			// 获取地址进行处理
		},

		async loadMore () {
			if (!this.isLoadMore) {
				Tips.toast({
					title: '没有更多的数据了'
				})
				return
			}
			this.scrollCount += 1
			this.filters.currentPage = String(this.scrollCount)
			const result = await getSearchListApi(this.filters)

			if (this.$_.isEmpty(result)) {
				this.isLoadMore = false
			}
			this.listData = [...this.listData, ...result]
		},

		commonGetTypeInfo (type, value) {
			this.typeData = this.typeData.map((item) => {
				if (item.key === type) {
					return {...item, title: value}
				} else {
					return item
				}
			})
		},

		async searchBtn () {
			this.filters.goodsName = this.searchVal
			await this.getGoodsListData(this.filters)
		},

		async onCityChange (cityValue) {
			const [province, city, region] = cityValue
			this.filters = {...this.filters, province, city, region}

			await this.getGoodsListData(this.filters)

			this.commonGetTypeInfo('area', region)
		},

		toDetailPage (detail) {
			wx.navigateTo({
				url: `../editgoodsdetail/main?goodsId=${detail.id}`
			})
		},

		// 选择物品类型
		async selectTypeFn (selectedType) {
			const newGoodsData = this.goodsData.map((item) => {
				if (item.key === selectedType.key && (item.count || 0) % 2 === 0) {
					this.filters.goodsTypeId = selectedType.key !== '0' ? selectedType.key : ''
				} else if (item.key === selectedType.key && (item.count || 0) % 2 !== 0) {
					this.filters.goodsTypeId = ''
				}
				return {
					...item,
					count: item.key === selectedType.key ? ((item.count || 0) + 1) : 0,
					isSelected: (item.key === selectedType.key && (item.count || 0) % 2 === 0)
				}
			})
			this.goodsData = newGoodsData

			this.commonGetTypeInfo('type', selectedType.name)
		},

		// 选择价格区间
		async selectPriceRangeFn (selectedPrice) {
			const newPriceRange = this.priceRange.map((item) => {
				if (item.key === selectedPrice.key && (item.count || 0) % 2 === 0) {
					this.filters = {...this.filters, minPriceStart: selectedPrice.minPriceStart, minPriceEnd: selectedPrice.minPriceEnd}
				} else if (item.key === selectedPrice.key && (item.count || 0) % 2 !== 0) {
					this.filters = {...this.filters, minPriceStart: '', minPriceEnd: ''}
				}
				return {
					...item,
					count: item.key === selectedPrice.key ? ((item.count || 0) + 1) : 0,
					isSelected: (item.key === selectedPrice.key && (item.count || 0) % 2 === 0)
				}
			})
			this.priceRange = newPriceRange

			this.commonGetTypeInfo('price', selectedPrice.name)
		},

		// 选择所属法院left
		async selectCourts1Fn (selectedLeftCourt) {
			let cityId = ''

			const newCourts1 = this.courts1.map((item) => {
				if (item.city_id === selectedLeftCourt.city_id && (item.countNo || 0) % 2 === 0) {
					cityId = selectedLeftCourt.city_id
				} else if (item.city_id === selectedLeftCourt.city_id && (item.countNo || 0) % 2 !== 0) {
					cityId = ''
				}
				return {
					...item,
					countNo: item.city_id === selectedLeftCourt.city_id ? ((item.countNo || 0) + 1) : 0,
					isSelected: (item.city_id === selectedLeftCourt.city_id && (item.countNo || 0) % 2 === 0)
				}
			})
			this.courts1 = newCourts1

			if (cityId) {
				const courts2 = await getCourtAllApi({cityId})
				this.courts2 = courts2
			} else {
				this.courts2 = []
			}
		},

		// 选择所属法院right
		selectCourts2Fn (selectedRightCourt) {
			const newCourts2 = this.courts2.map((item) => {
				if (item.id === selectedRightCourt.id && (item.countNo || 0) % 2 === 0) {
					this.filters.courtId = selectedRightCourt.id
				} else if (item.id === selectedRightCourt.id && (item.countNo || 0) % 2 !== 0) {
					this.filters.courtId = ''
				}
				return {
					...item,
					countNo: item.id === selectedRightCourt.id ? ((item.countNo || 0) + 1) : 0,
					isSelected: (item.id === selectedRightCourt.id && (item.countNo || 0) % 2 === 0)
				}
			})
			this.courts2 = newCourts2

			this.commonGetTypeInfo('court', selectedRightCourt.courtName)
		}
	}
}
</script>

<style scoped>
@import '../../utils/style/mixin';
  .searchlist{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y:hidden;
    .searchDiv{
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #EEE8E8;
      margin: 20rpx;
      padding: 6rpx 20rpx;
      border-radius: 10rpx;
      input{
        display: flex;
        flex: 1;
      }
      img{
        @mixin wh 32rpx, 32rpx;
      }
    }
    .sortView{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 30rpx 0;
    }
    .tabsSection{
      display: flex;
      flex:1;
      @mixin wh 100%, 100%;
    }
    .lineSpace1{
      display: flex;
      @mixin linespace  2rpx, #F0F0F0;
    }
    .typeView{
      @mixin fj space-around;
      padding: 10rpx 10rpx;
      .typeDiv{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        background-color: #F0F0F0;
        margin: 0 10rpx;
        padding: 6rpx 0;
        border-radius: 5rpx;
        .pickerView{
          margin-top:-10rpx;
          width:100%;
          height:100%;
          text-align:center;
        }
        .typeSpan{
          color: #000000;
          font-size: 24rpx;
          padding: 10rpx 20rpx;
					width: 124rpx;
					text-align: center;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

        }
      }
    }
    .lineSpace2{
      display: flex;
      @mixin linespace  4rpx, #F0F0F0;
      position: relative;
      .positionCenterDiv{
        z-index: 999;
        display: flex;
        flex-direction: column;
        flex: 1;
        position: absolute;
        top: 4rpx;
        left: 0;
        background-color: white;
        @mixin wh 100%, 600rpx;
        .positionContain{
          flex: 1;
        }
        .bottomBtnDiv{
          @mixin fj;
          div{
            display: flex;
            flex: 1;
            border: 2rpx solid  #F0F0F0;
            border-left: none;
            border-right: none;
            justify-content: center;
            align-items: center;
            padding: 20rpx 0;
          }
          div:nth-child(1){
            span{
              font-size: 26rpx;
              color: black;
            }
          }
          div:nth-child(2){
            background-color: #F73C31;
            border: 2rpx solid  #F73C31;
            border-left: none;
            border-right: none;
            span{
              font-size: 26rpx;
              color: white;
            }
          }
        }
      }
    }
  }
</style>
