<template>
  <div class="container">
    <div class="top" @click="toDetailPage">
      <list-view :showDot="true" :listInfo="listData"/>
    </div>
    <div class="module_pic">
      <div class="title">现场图片</div>
      <div class="p_pic">
        <ul class="pic_wrap clearfix">
          <li v-if="isShowPic" class="pic_sub" v-for="(listItem, listIndex) in picList" :key="listItem.id">
            <div class="pic_sub2">
              <water-mark @preview="preview" @fetch="fetchImage" :index="listIndex" :listInfo="listItem"/>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="order_class">
      <order-register @qiandao="qiandao" @okUseId="okUseId" :listData="recordPerson"></order-register>
    </div>
    <div class="module_text">
      <div class="title">看样小结 <div class="text_xiugai"><div class="oper_item" @click="FN_XG">修改</div><div  class="cancel oper_item" @click="cancel" v-if="!isXg">取消</div></div></div>
      <div v-if="isXg" class="text">
        {{goodsText}}
      </div>
      <textarea v-else v-model="goodsText2"  placeholder="请修改看样小结" class="text" auto-height="true"></textarea>
    </div>

    <div class="oper_wrap">
      <div class="oper_button" @click.stop="FN_ADDRECORD">新增预约登记</div>
      <div class="oper_button" @click.stop="FN_SIGNIN">签到</div>
    </div>

    <add-record @successAdd="fetchRecodeInfo" :isAddRecordShow="isAddRecordShow" @show="isShow" :id="id" :goodsId="listData.goodsId"/>
    <sign-in @successAdd="fetchRecodeInfo" :listData="recordPerson" :isSignInShow="isSignInShow" @show="isShow" :id="useId" :code="code"/>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'
import listView from '../../components/list_view'
import waterMark from '../../components/waterMark/watermark'
import addRecord from '../../components/addRecord'
import orderRegister from '../../components/orderRegister'
import signIn from '../../components/signIn'
import {postGoodsXJ, postGoodsRecordInfo, subGoodsInfo} from '../../fetchData/fetchGoodsInfo'
export default {
	data () {
		return {
			isXg: true,
			goodsText: '',
			goodsText2: '',
		  id: null,
			listData: [],
			picList: null,
			isAddRecordShow: false,
			isSignInShow: false,
			recordPerson: [],
			useId: null,
			code: null,
			isShowPic: true,
			isShowOrder: true,
			files: []
		}
	},

	onLoad (option) {
	  console.log(option)
		this.id = option.id
		this.listData = JSON.parse(option.info) || []
	  this.picList = []
		this.initData()
	},
	props: {
		listInfo: Object
	},
	components: {
		listView,
		waterMark,
		addRecord,
		signIn,
		orderRegister
	},
	computed: {
		...mapState(['waterMark', 'reserveInfo'])
	},
	methods: {
		...mapMutations(['WaterMark']),

		async initData () {
			await this.fetchImage()
			await this.fetchRecodeInfo()
			if (this.listData.summary) {
				this.goodsText = this.listData.summary
				this.goodsText2 = this.listData.summary
			} else {
				this.goodsText = ''
				this.goodsText2 = ''
			}
		},
		async fetchImage () {
			let data = await subGoodsInfo(this.id)
			this.listData.summary = data.summary
			this.picList = data.images
			this.isShowPic = false
			console.log(this.picList, 'piclist')
			this.files = []
			for (let i = 0; i < this.picList.length; i++) {
			  this.files.push(this.picList[i].pathUrl)
			}
			if (this.picList.length === 0 || this.picList[this.picList.length - 1].pathUrl) {
				this.picList.push({
					id: this.id,
					goodsId: this.listData.goodsId,
					pathUrl: null
				})
			}
			let _this = this

			setTimeout(() => {
				wx.hideLoading()
				_this.isShowPic = true
			})
		},
		async fetchRecodeInfo () {
			let value = await postGoodsRecordInfo({
				goodsDateId: this.id
			})
			this.recordPerson = value.list
			// this.isShowOrder = false
			// let _this = this
			// setTimeout(() => {
			//   _this.isShowOrder = true
			// }, 0)
		},
		FN_ADDRECORD () {
			this.isAddRecordShow = true
		},
		FN_SIGNIN () {
		  // if (this.useId != null) {
			// 	this.isSignInShow = true
			// }
			this.isSignInShow = true
		},
		isShow () {
			this.isAddRecordShow = false
			this.isSignInShow = false
		},
		async FN_XG () {
		  if (this.isXg) {
				this.goodsText2 = this.goodsText
			} else {
				this.goodsText = this.goodsText2
				const value = await postGoodsXJ({
					id: this.id,
					summary: this.goodsText
				})
				console.log(value)
			}
		  this.isXg = !this.isXg
		},
		cancel () {
			this.isXg = true
			this.goodsText2 = this.goodsText
		},
		okUseId (id, code) {
			this.useId = id
			this.code = code
		},
		qiandao () {
		  this.isSignInShow = true
		},
		preview (index) {
			let _this = this
			wx.previewImage({
				current: _this.files[index], // 当前显示图片的http链接
				urls: _this.files // 需要预览的图片http链接列表
			})
		},
		toDetailPage () {
			wx.navigateTo({
				url: `../editgoodsdetail/main?goodsId=${this.listData.goodsId}`
			})
		}
	}
}
</script>

<style>
  .oper_item{
    padding:0 20rpx;
    font-size:26rpx;
  }
  .container{
    padding:0;
    display:block;
    height:auto;
    background:#f7f7f7;
    box-sizing:none;
    padding-bottom:120rpx;
    .top{
      margin-bottom:14rpx;
    }
    .module_pic{
      background:#fff;
      padding-bottom:1px;
      .title{
        width:684rpx;
        margin:0 auto;
        height:53rpx;
        line-height:53rpx;
        font-size:30rpx;
        border-bottom:1px solid #d4d4d4;
      }
      .p_pic{
        width:684rpx;
        margin:30rpx auto 26rpx;
        /*overflow:hidden;*/
        .pic_wrap{
          width:715rpx;
          .pic_sub{
            width:204rpx;
            height:154rpx;
            /*overflow:hidden;*/
            .pic_sub2{
              width:100%;
              height:100%;
              /*width:720px;*/
              /*height:1280px;*/
            }
            float:left;
            margin: 0 32rpx 20rpx 0;
          }
        }
      }
    }
    .module_text{
      background:#fff;
      padding-bottom:1px;
    margin-top:14rpx;
      .title{
        position:relative;
        width:684rpx;
        margin:0 auto;
        height:53rpx;
        line-height:53rpx;
        font-size:30rpx;
        border-bottom:1px solid #d4d4d4;
        .text_xiugai{
          display:flex;

          justify-content: row;
          position:absolute;
          right:0;
          top:0;
          height:100%;
          line-height:53rpx;
          color:#f0220c;
          font-size:20rpx;
          padding-left:30rpx;
          background:url("../../../static/images/icon_xiugai.png") left center no-repeat;
          background-size:30rpx 30rpx;
          .cancel{
            margin-left:20rpx;
          }
        }
      }
      .text{
        width:684rpx;
        margin:13rpx auto;
        color:#666666;
        font-size:24rpx;
      }
    }
    .oper_wrap{
      position:fixed;
      bottom:0;
      width:100%;
      padding:20rpx;
      box-sizing: border-box;
      background:#fff;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      .oper_button{
        width:300rpx;
        height:75rpx;
        background:#ff3520;
        text-align:center;
        line-height:75rpx;
        font-size:30rpx;
        color:#fff;
      }
    }
  }
  .order_class{
    padding-bottom:20px;
    background:#fff;

  }
</style>
