<template>
  <section class="goodsdetail">
    <section class="goodsInnerContain">
      <div style="overflow-x:hidden;">
        <list-single-view
          showDot="true"
          :listInfo="goodsdetailInfo"
        />
        <section class="lineSpace"></section>
        <text-line-space
          title="标的物详情"
        />
        <section class="goodsInfo">
          <wxParse v-if="detail" :content="detail" :noData="''" />
        </section>
        <text-line-space
          title="公告 · 须知"
        />
        <section class="basicCondition">
          <div :class="['contentDiv', !isReadContent?'fixHeight':'']">{{goodsdetailInfo.content || ''}}</div>
          <div v-if="!isReadContent" @click="readContentPress" class="readBtn"><span>阅读全部</span></div>
        </section>
        <text-line-space
          title="现场图片"
        />
        <section class="weui-uploader__bd jjjuploader">
          <div class="weui-uploader__files" id="uploaderFiles">
            <block v-for="(item, index) in imagefilesParams" :key="index">
              <div class="weui-uploader__file weui-uploader__file_jjj" @click="predivImage" :id="item.pathUrl">
                <div class="deleteDiv" @click.stop="deleteImage(item.id, index)">
                  <image class="deleteImg" src="/static/images/delete.png" mode="aspectFill" />
                </div>
                <image class="weui-uploader__img weui-uploader__img_jjj" :src="item.pathUrl" mode="aspectFill" />
              </div>
            </block>
          </div>
          <div class="weui-uploader__input-box weui-uploader__input-box_jjj">
            <div class="weui-uploader__input" @click="chooseImage"></div>
          </div>
        </section>

        <section class="addressModify">
          <text-line-space
            title="标的物定位"
          />
          <div class="editBtnDiv" @click="editAddrss">
            <i-icon class="iconeditor" type="editor" />
            <p class="fixSpan">修改</p>
          </div>
        </section>

        <section class="goodsLoactionContain">
          <div class="mapbox">
             <map id="mymap" :latitude="latitude" :longitude="longitude" :markers="markers" show-location @markertap="markerTap" />
           </div>
        </section>
      </div>
    </section>

  </section>
</template>

<script>
import wxParse from '../../components/wxParse/wxParse'
import listSingleView from '../../components/listSingleView'
import textLineSpace from '../../components/textLineSpace'
import {getGoodsDetails, modifyMapLocationApi, deleteImgFileApi} from '../../fetchData/fetchDiscover'
import Tips from '../../utils/tipUtil/tips'
import {apiDeps} from '../../http/api'
import {host} from '../../config/apiconfig/config'
export default {
	data () {
		return {
			goodsId: null, // 标的物id
			goodsdetailInfo: {},
			mapCtx: null, // 地图对象
			longitude: 0, // 当前位置经纬度
			latitude: 0, // 当前位置经纬度
			markers: [], // 位置点图
			detail: '',
			imagefiles: [], // 预览图片数据
			imagefilesParams: [], // 预览图片数据ID
			isReadContent: false
		}
	},

	onUnload () {
		this.goodsdetailInfo = {}
		this.detail = ''
		this.isReadContent = false
	},

	onLoad (options) {
		this.goodsId = options.goodsId
	},

	onReady () {
		this.initData()
		this.mapCtx = wx.createMapContext('mymap')
	},

	components: {
		wxParse,
		listSingleView,
		textLineSpace
	},

	computed: {
	},

	methods: {
		async initData () {
			const goodsDetails = await getGoodsDetails({
				goodsId: this.goodsId
			})
			this.detail = goodsDetails.detail
			this.goodsdetailInfo = goodsDetails
			this.imagefiles = this.$_.map(goodsDetails.images, (imgItem) => {
				return `${imgItem.pathUrl}?imageView2/1/w/410/h/320`
			})

			this.imagefilesParams = this.$_.map(goodsDetails.images || [], (imgItem) => ({...imgItem, pathUrl: `${imgItem.pathUrl}?imageView2/1/w/410/h/320`}))

			this.getCurrentPosition()
		},

		// 阅读详情内容
		readContentPress () {
			this.isReadContent = true
		},

		// 获取当前位置经纬度
		getCurrentPosition () {
			// 为精简代码此处不展示拒绝的情况
			this.latitude = this.goodsdetailInfo.lat
			this.longitude = this.goodsdetailInfo.lng

			this.markers = [
				{
					iconPath: '../../static/images/location.png',
					id: 0,
					latitude: this.latitude.toString(),
					longitude: this.longitude.toString(),
					width: 40,
					height: 40
				}
			]
			this.moveToLocation()
		},
		// 获取到对应的经纬度并移动过去
		moveToLocation: function () {
			this.mapCtx.moveToLocation()
		},

		markerTap (e) {
		},

		// 选择上传的图片
		chooseImage (e) {
			var _this = this
			wx.chooseImage({
				sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
				sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
				success: function (res) {
					// 返回选定照片的本地文件路径列表，tempFilePath可以作为img标签的src属性显示图片
					Tips.loading()
					wx.uploadFile({
						url: `${host}/api/goodsPath/uploadFile`,
						filePath: res.tempFilePaths[0],
						name: 'file',
						header: {'Access-Token': apiDeps['Access-Token']},
						formData: {
							'file': res.tempFilePaths[0],
							goodsId: _this.goodsId
						},
						success: function (resData) {
							Tips.loaded()
							const data = JSON.parse(resData.data) || {}
							const imgData = _this.$_.get(data, 'data', {})
							if (data.code === '100' && !_this.$_.isEmpty(imgData)) {
								Tips.toast({title: '图片上传成功'})
								_this.imagefilesParams = _this.imagefilesParams.concat({...imgData, pathUrl: `${imgData.pathUrl}?imageView2/1/w/410/h/320`})
								_this.imagefiles = _this.imagefiles.concat(`${imgData.pathUrl}?imageView2/1/w/410/h/320`)
							} else {
								Tips.toast({title: '图片上传失败'})
							}
						},
						fail: function () {
							Tips.loaded()
						},
						complete: function () {
							Tips.loaded()
						}
					})
				},
				fail: function () {
				},
				complete: function () {
				}
			})
		},

		// 预览图片
		predivImage (e) {
			wx.previewImage({
				current: e.currentTarget.id, // 当前显示图片的http链接
				urls: this.imagefiles // 需要预览的图片http链接列表
			})
		},

		// 删除图片
		async deleteImage (id, imgIndex) {
			const deleteResult = await deleteImgFileApi({
				id
			})
			if (deleteResult.code === '100') {
				Tips.toast({title: '图片删除成功'})
				this.imagefilesParams.splice(imgIndex, 1)
				this.imagefiles.splice(imgIndex, 1)
			} else {
				Tips.toast({title: deleteResult.msg})
			}
		},

		// 编辑地址
		editAddrss () {
			wx.chooseLocation({
				success: async (res) => {
					this.markers = [
						{
							iconPath: '../../static/images/location.png',
							id: 0,
							latitude: res.latitude.toString(),
							longitude: res.longitude.toString(),
							width: 40,
							height: 40
						}
					]
					this.latitude = res.latitude
					this.longitude = res.longitude

					await modifyMapLocationApi({
						id: this.goodsdetailInfo.id,
						lng: res.longitude,
						lat: res.latitude
					})
					Tips.toast({title: '修改地址成功'})
					this.moveToLocation()
				}
			})
		}

	}
}
</script>

<style scoped>
  @import '../../utils/style/mixin';
  .goodsdetail{
    display: flex;
    flex: 1;
		width: 100%;
    flex-direction: column;
    background-color: $defaultBgColor;

    .goodsInnerContain{
      flex: 1;
      /* padding-bottom: 82rpx; */
    }

    .goodsInfo{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      background-color: white;
      .goodsInfoCol{
        display: flex;
        flex-direction: row;
        align-items: center;
        .goodsInfoRow{
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 32%;
          span{
            color: #5D5E65;
            font-size: 24rpx;
          }
        }
      }
    }

    .basicCondition{
      position: relative;
      padding: 0 20rpx;
      margin-bottom: 20rpx;
      background-color: white;
      .contentDiv{
        font-size: 26rpx;
        word-break:break-all;
        word-wrap:break-word;
      }
      .fixHeight{
        height: 200rpx;
        overflow: hidden;
      }
      .readBtn{
        position: absolute;
        right: 30rpx;
        bottom: 30rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120rpx;
        height: 40rpx;
        border: 2rpx solid #F73C31;
        border-radius: 6rpx;
        background-color: white;
        span{
          color: #F73C31;
          font-size: 26rpx;
        }
      }
    }

    .liveImageContain{
      display: flex;
      flex-direction: column;
      padding: 0 20rpx;
      margin-bottom: 20rpx;
      div{
        display:flex;
      }
      .weui-uploader__img1{
        @mixin wh 100%, 500rpx;
        margin: 10rpx 0;
      }
    }


    .goodsLoactionContain{
      display: flex;
      padding: 20rpx;
      .mapbox{
        @mixin wh 100%, 500rpx;
        #mymap{
          @mixin wh 100%, 100%;
        }
      }
    }

    .jjjuploader{
      box-sizing: border-box;
      padding-left: 20rpx;
      padding-top: 20rpx;
    }
    .weui-uploader__img_jjj{
      width: 166rpx;
      height: 166rpx;
    }

    .weui-uploader__file_jjj{
      position: relative;
    }

    .deleteDiv{
      position: absolute;
      right: -6rpx;
      top: -6rpx;
      background-color: white;
      width:36rpx;
      height:36rpx;
      border-radius: 18rpx;
      .deleteImg{
        display: block;
        @mixin wh 36rpx, 36rpx;
      }
    }

    .weui-uploader__input-box_jjj{
      width: 162rpx;
      height: 162rpx;
    }

    .addressModify{
      display: flex;
      flex-direction: row;
      align-items: center;
      .editBtnDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 20rpx;
        .iconeditor{
          font-size: 30rpx;
          color: $themeColor;
        }
        .fixSpan{
          font-size: 26rpx;
          color: $themeColor;
        }
      }
    }

  }
</style>

