<template>
  <div class="my-container">
    <div class="pass_list">
      <div class="pass_list_sub">
        <span class="list_label">旧密码</span>
        <input class="list_input"  v-model="oldPassword" password="true" type="text" placeholder="请输入旧密码"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">新密码</span>
        <input class="list_input"  v-model="newPassword" password="true" type="text" placeholder="请输入新密码"/>
      </div>
      <div class="pass_list_sub">
        <span class="list_label">确认新密码</span>
        <input class="list_input"  v-model="new2Password" password="true" type="text" placeholder="请再次输入新密码"/>
      </div>
    </div>
    <div class="button-submit" @click="submit">提交</div>
  </div>
</template>

<script>
import {upLoadztStaffpass} from '../../fetchData/fetchMyProfile'
import Tips from '../../utils/tipUtil/tips'
export default {
	data () {
		return {
			oldPassword: null,
			newPassword: null,
			new2Password: null
		}
	},

	components: {

	},

	methods: {
	  async submit () {
	    if (this.newPassword == null) {
				Tips.toast({title: '新密码不能为空'})
			}

			if (this.newPassword !== this.new2Password) {
				Tips.toast({title: '两次密码输入不一致'})
				this.newPassword = null
				this.new2Password = null
			}
			let value = await upLoadztStaffpass({
				oldPwd: this.oldPassword,
				newPwd: this.newPassword
			})
			console.log(value)
			wx.navigateBack({
				delta: 1,
				success: function () {
					Tips.toast({
						title: '修改成功'
					})
				}
			})
		}
	}
}
</script>

<style scoped>
  .my-container{
    padding-top:1px;
    height:100%;
    background:#f7f7f7;
  }
  .pass_list{
    margin-top:10rpx;
    background:#fff;
    padding:22rpx 0 1px;
    .pass_list_sub{
      width:680rpx;
      margin:0 auto 22rpx;
      height:64rpx;
      display:flex;
      font-size:30rpx;
      .list_label{
        flex:0 0 170rpx;
        color:#aaaaaa;
        line-height:64rpx;
      }
      .list_input{
        width:100%;
        height:100%;
        border:1px solid #cccccc;
        text-indent:10rpx;
      }
    }

  }
  .button-submit{

    width:674rpx;
    height:80rpx;
    color:#fff;
    font-size:30rpx;
    line-height:80rpx;
    text-align: center;
    background:#ff3520;
    margin:30rpx auto 0;
  }
</style>
