<template>
  <section class="courts">
    <scroll-view
      style="flex: 1;height:516rpx;"
      scroll-y
    >
      <div class="goodsDiv">
        <div 
          :class="['singleDiv', item.isSelected?'singleSelectedDiv':'defaultBorder']"
          v-for="(item, index) in courts1" 
          :key="index"
          @click="selectCourts1(item)"
        >
          <span>{{item.city}}</span>
        </div>
      </div>
    </scroll-view>
    <section class="lineSpaceVertical"></section>
    <scroll-view
      style="flex: 1;height:516rpx;"
      scroll-y
    >
      <div class="goodsDiv">
        <div
          v-if="!$_.isEmpty(courts2)" 
          :class="['singleDiv', item.isSelected?'singleSelectedDiv':'defaultBorder']" 
          v-for="(item, index) in courts2" 
          :key="index"
          @click="selectCourts2(item)"
        >
          <span>{{item.courtName}}</span>
        </div>
      </div>
    </scroll-view>
  </section>
</template>

<script>
export default {
	props: {
		courts1: Array,
		courts2: Array,
		selectCourts1Fn: Function,
		selectCourts2Fn: Function
	},

	methods: {
		selectCourts1 (item) {
			this.$emit('selectCourts1Fn', item)
		},

		selectCourts2 (item) {
			this.$emit('selectCourts2Fn', item)
		}
	}
}
</script>

<style>
  @import '../../../utils/style/mixin';
  
  .courts{
    display: flex;
    flex: 1;
    @mixin wh 100%, 100%;
    .lineSpaceVertical{
      @mixin wh 2rpx, 100%;
      background: #f0f0f0;
    }
    .goodsDiv{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .singleDiv{
        display: flex;
        flex: 1;
        align-items: center;
        margin-left: 30rpx;
        margin-right: 10rpx;
        span{
          color: black;
          font-size: 26rpx;
          padding: 20rpx 0;
        }
      }
    }
  }
</style>

