<template>
  <section class="priceRange">
    <scroll-view
      style="width: 100%;height:516rpx;"
      scroll-y
    >
      <div class="goodsDiv">
        <div
          :class="['singleDiv', item.isSelected?'singleSelectedDiv':'defaultBorder']"
          v-for="(item, index) in priceRange"
          :key="index"
          @click="selectPriceRange(item)"
        >
          <span>{{item.name}}</span>
        </div>
      </div>
    </scroll-view>
  </section>
</template>

<script>
export default {
	props: {
		priceRange: Array,
		selectPriceRangeFn: Function
	},

	methods: {
		selectPriceRange (item) {
			this.$emit('selectPriceRangeFn', item)
		}
	}
}
</script>

<style scoped>
  @import '../../../utils/style/mixin';
  
  .priceRange{
    flex: 1;
    @mixin wh 100%, 100%;
    .goodsDiv{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      .singleDiv{
        display: flex;
        align-items: center;
        width: 46%;
        margin-left: 2%;
        span{
          color: black;
          font-size: 26rpx;
          padding: 20rpx 0;
        }
      }
    }
  }
</style>

