<template>
  <div class="sortDiv" @click="sortWay">
    <span :class="[sortInfo.isSelected?'redColor':'titleSpan']">{{sortInfo.title}}</span>
    <div v-if="sortInfo.key !== 'zh'" class="imgDiv">
      <img :src="(sortInfo.count%2 === 1 && sortInfo.isSelected)?'../../static/images/triangle_t_r.png':'../../static/images/triangle_t_g.png'" alt="">
      <img :src="(sortInfo.count%2 === 0 && sortInfo.isSelected)?'../../static/images/triangle_b_r.png':'../../static/images/triangle_b_g.png'" alt="">
    </div>
  </div>
</template>

<script>
export default {
	data () {
		return {
		}
	},

	props: {
		sortInfo: Object,
		sortIndex: Number
	},

	methods: {
		sortWay () {
			this.$emit('sortWay', this.sortIndex)
		}
	}
}
</script>

<style>
  @import '../../../utils/style/mixin';
  
  .sortDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    .titleSpan{
      font-size: 26rpx;
      color: #414141;
      padding-right: 6rpx;
    }
    .redColor{
      font-size: 26rpx;
      color: #F94035;
      padding-right: 6rpx;
    }
    .imgDiv{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 32rpx;
      img{
        @mixin wh 16rpx, 16rpx;
      }
    }
  }
</style>

