<template>
  <section class="disCover">
    <section class="addressContain">
      <div class="addressDiv">
        <!-- <picker class="weui-btn" mode="region" :value="region" @change="CityChange">
          <section class="pickSection">
            <div class="picker">{{selectAddress || '地区'}}</div>
            <i-icon class="iconUnfold" type="unfold" />
          </section>
        </picker> -->
        <select-city
          @onCityChange="onCityChange"
          :selectAddress="selectAddress"
        >
          <template slot="default">
            <section class="pickSection">
              <div class="picker">{{selectAddress || '地区'}}</div>
              <i-icon class="iconUnfold" type="unfold" />
            </section>
          </template>
        </select-city>
      </div>
      <div class="searchDiv" @click="toSearch">
        <img class="iconSearch" src="../../../static/images/search.png" alt="">
        <span class="searchSpan">请输入搜索信息</span>
      </div>
    </section>
    <div class="lineSpace"></div>
    <section class="tabsSection">
      <scroll-view
        scroll-y
        @scrolltolower="loadMore"
      >
        <list-single-view
          v-for="(listItem, listIndex) in listData"
          :key="listIndex"
          :listInfo="listItem"
          @toDetail="toDetailPage"
        />
        <empty-tip v-if="listData.length === 0"/>
        <loadmore :loadMore="showLoadMore" v-if="listData.length>0"/>
      </scroll-view>

    </section>
  </section>
</template>

<script>
import selectCity from '../../components/selectCity'
import listSingleView from '../../components/listSingleView.vue'
import {getSearchListApi} from '../../fetchData/fetchDiscover'
import Tips from '../../utils/tipUtil/tips'
import {isZTlogin} from '../../fetchData/ZTAPI'
import {mapState} from 'vuex'
import loadmore from '../../components/loadmore'
import emptyTip from '../../components/emptyTip'

export default {
	data () {
		return {
			selectAddress: '',
			listData: [],
			region: ['广东省', '广州市', '海珠区'],
			scrollCount: 1,
			isLoadMore: true
		}
	},
	components: {
		selectCity,
		listSingleView,
		loadmore,
		emptyTip
	},
	computed: {
		...mapState([
			'isLogin'
		]),

		showLoadMore () {
			return (this.isLoadMore && this.listData.length >= 20)
		}
	},

	onShow () {
	  let value = isZTlogin()
		if (value) {
			this.initData()
		} else {
			Tips.toast({
				title: '请先完成登录，再进行查看看样列表'
			})
			setTimeout(() => {
				wx.navigateTo({
					url: '../login/main'
				})
			}, 2000)
		}
	},
	methods: {

		// 获取标的物列表接口
		async getGoodsListData (params = {}) {
			// 搜索接口
			const searchResult = await getSearchListApi(params)
			this.listData = searchResult
			return []
		},

		async initData () {
			const result = await getSearchListApi()
			this.listData = result
		},

	  async onCityChange (cityValue) {
			this.selectAddress = cityValue[2]
			const [province, city, region] = cityValue

			await this.getGoodsListData({
				province,
				city,
				region
			})
		},

		async loadMore () {
			if (!this.isLoadMore) {
				Tips.toast({
					title: '没有更多的数据了'
				})
				return
			}
			this.scrollCount += 1
			try {
				const result = await getSearchListApi({
					currentPage: String(this.scrollCount)
				})
				if (this.$_.isEmpty(result)) {
					this.isLoadMore = false
				}
				this.listData = [...this.listData, ...result]
			} catch (e) {
			}
		},

		toSearch () {
			wx.navigateTo({
				url: '../searchlist/main'
			})
		},

		toDetailPage (detail) {
			wx.navigateTo({
				url: `../editgoodsdetail/main?goodsId=${detail.id}`
			})
		}
	}
}
</script>

<style scoped>
@import '../../utils/style/mixin';
  .disCover{
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y:hidden;
    .addressContain{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 30rpx;
      margin: 10rpx 0;
      .addressDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        .pickSection{
          display: flex;
          align-items: center;
          .picker{
            color: #171717;
            font-size: 15px;
          }
          .iconUnfold{
            padding-bottom: 8rpx;
          }
        }

      }
      .searchDiv{
        display: flex;
        flex: 1;
        flex-direction: row;
        align-items: center;
        background: #EEE8E8;
        margin-left: 30rpx;
        border-radius: 10rpx;
        padding: 12rpx 16rpx;
        .iconSearch{
          @mixin wh 32rpx,32rpx;
        }
        .searchSpan{
          color: #8F8F8F;
          font-size: 26rpx;
          padding-left: 30rpx;
        }
      }
    }
    .tabsSection{
      display: flex;
      flex:1;
      @mixin wh 100%, 100%;
    }
  }
</style>
