<template>
  <div :class="['prop_list',isAddRecordShow||'on']">
    <div class="prop_wrap">
      <div class="prop_title">新增预约登记</div>
      <div class="info_write">
        <dl class="sub_dl">
          <dt class="sub_dt">姓名</dt>
          <dd  class="sub_dd">
            <input type="text" class="sub_input"  v-model="name" placeholder="请输入看样人姓名"/>
          </dd>
        </dl>
        <dl class="sub_dl">
          <dt class="sub_dt">手机号</dt>
          <dd  class="sub_dd">
            <input type="text" class="sub_input"  v-model="phone" placeholder="请输入手机号"/>
          </dd>
        </dl>
      </div>
      <div class="prop_oper_wrap">
        <div class="prop_button" @click="submit">确定</div>
        <div class="prop_button" @click="cancel">取消</div>
      </div>
    </div>
  </div>
</template>
<script>
import {newGoodsRecordInfo} from '../fetchData/fetchGoodsInfo'
import Tips from '../utils/tipUtil/tips'

export default {
	data () {
		return {
			name: null,
			phone: null
		}
	},
	props: {
		isAddRecordShow: Boolean,
		id: String,
		goodsId: String,
		show: Function,
		successAdd: Function
	},
	onLoad () {},
	methods: {
		async submit () {
			let value = await newGoodsRecordInfo({
				tel: this.phone,
				man: this.name,
				goodsDateId: this.id,
				goodsId: this.goodsId
			})
			console.log(value)
			Tips.toast({
				title: '预约成功'
			})
			this.$emit('show', '')
			this.$emit('successAdd', '')
		},
		cancel () {
			this.name = null
			this.phone = null
			this.$emit('show', '')
		}
	}

}
</script>
<style>
  .prop_list.on{
    display:none;
  }
.prop_list{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:20;
  background:rgba(0,0,0,0.4);
  .prop_wrap{
    position:absolute;
    background:#fff;
    width:600rpx;
    left:50%;
    top:50%;
    margin-top:-300rpx;
    margin-left:-300rpx;
    border-radius:20rpx;
    .prop_title{
      text-align: center;
      height:90rpx;
      line-height:90rpx;
      font-size:40rpx;
      border-bottom:1px solid #ececec;
    }
    .info_write{
      width:500rpx;
      margin:0 auto 60rpx;
      color:#676767;
      font-size:28rpx;
      .sub_dl{
        margin-top:40rpx;
        display:flex;
        flex-direction:row;
        align-items: center;
      }
      .sub_dt{
        flex:0 0 100rpx;
      }
      .sub_dd{
        height:60rpx;
        width:100%;
      }
      .sub_input{
        width:100%;
        background:#f7f7f7;
        text-indent:20rpx;
        height:60rpx;
        border:1px solid #ececec;
      }
    }
    .prop_oper_wrap{
      height:80rpx;
      display:flex;
      align-items:row;
      border-top:1px solid #eeeeee;
      .prop_button{
        border-right:1px solid #eeeeee;
        font-size:30rpx;
        line-height:80rpx;
        color:#f0220d;
        height:100%;
        width:50%;
        text-align: center;
      }
      .prop_button:last-child{
        border-right:none;
      }
    }
  }
}
</style>
