<template>
  <section class="listSingleView" @click="onPress">
    <section class="listSingleContain">
      <div class="imgDiv">
        <img class="imgStyle" :src="listInfo.cover + '?imageView2/1/w/110/h/110'" alt="">
      </div>
      <div class="rightDiv">
        <div class="titleTopDiv">
          <p class="titleDescribe">
            <span v-if="listInfo.state === 2">可预约</span>
            {{listInfo.goodsName}}
          </p>
          <span class="pmState">{{getPMState}}</span>
        </div>
        <div class="titleBottomDiv">
          <divv class="ggDateDiv">
            <span class="ggDate">起拍时间</span>
            <span class="ggDate">{{listInfo.auctionTime}}</span>
          </divv>
          <div class="bottomRightDiv">
            <span>起拍价</span>
            <span v-if="getPrice">{{getPrice}}</span>
          </div>
        </div>
      </div>
    </section>
    <div class="lineSpaceDiv"></div>
  </section>
</template>

<script>
import {formatCurrency} from '../utils/data/handleUtils'
export default {
	data () {
		return {}
	},
	props: {
		listInfo: Object,
		showDot: {
			type: Boolean,
			default: false
		}
	},

	computed: {

		getPrice () {
			if (this.showDot) {
				return `${(formatCurrency(this.listInfo.minPrice) || '')}  元`
			} else {
				if (this.listInfo.minPrice / 10000 >= 1) {
					return `${(this.listInfo.minPrice / 10000) || ''} 万元`
				} else {
					return `${(formatCurrency(this.listInfo.minPrice) || '')}  元`
				}
			}
		},

		getPMState () {
			let state = ''
			switch (this.listInfo.pmState) {
			case 1:
				state = '一拍'
				break
			case 2:
				state = '二拍'
				break
			case 10:
				state = '变卖'
				break
			default:
				break
			}
			return state
		}
	},

	methods: {
		onPress () {
			this.$emit('toDetail', this.listInfo)
		}
	}
}
</script>

<style>
@import '../utils/style/mixin';
.listSingleView{
  display: flex;
  flex-direction: column;
  background-color: white;
  .listSingleContain{
    display: flex;
    flex-direction: row;
    padding: 20rpx;
    align-items: center;
  }
  .imgDiv{
    margin-right: 20rpx;
    .imgStyle{
      @mixin wh 200rpx, 200rpx;
    }
  }
  .rightDiv{
    .titleTopDiv{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      /* span:nth-child(1) {
        font-size: 28rpx;
        color: #EB0000;
      } */
      .titleDescribe{
        color: #464646;
        font-size: 24rpx;
        padding: 10rpx 0;
        line-height: 36rpx;
        flex: 1;
        min-width: 418rpx;
        span{
          background-color: #2C8553;
          color: white;
          padding: 6rpx 8rpx;
          font-size: 22rpx;
          border-radius: 6prx;
        }
      }
      .pmState {
        display: flex;
        margin-top: 10rpx;
        align-self: flex-start;
        width: 50rpx;
        height: 40rpx;
        text-align: center;
        line-height: 40rpx;
        font-size: 22rpx;
        color: #ffffff;
        background-color: #E7B328;
        padding: 0 12rpx;
        border-radius: 10rpx;
      }
    }

    .pmDate{
      display: flex;
      color: #464646;
      font-size: 22rpx;
      line-height: 22rpx;
    }
    .titleBottomDiv{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-top: 20rpx;
      .ggDateDiv{
        display: flex;
        flex-direction: column;
        flex: 1;
        .ggDate{
          color: #464646;
          font-size: 22rpx;
          line-height: 22rpx;
          padding-top: 4rpx;
        }
      }

      .bottomRightDiv{
        display: flex;
        flex-direction: column;
        span:nth-child(1) {
          color: #ED0000;
          font-size: 26rpx;
          padding-right: 10rpx;
        }
        span:nth-child(2) {
          color: #ED0000;
          font-size: 36rpx;
        }
      }
    }
  }
  .lineSpaceDiv{
    @mixin linespace 2rpx;
  }
}
</style>
