<template>
  <div>
    <div class="list_sub" @click="onPress">
      <div class="list_img">
        <image v-if="listInfo.cover" :src="listInfo.cover+'?imageView2/1/w/193/h/193'" class="list_img_sub"></image>
        <image v-else class="list_img_sub on"></image>
      </div>
      <div class="list_content">
        <div class="list_top">
          <div class="list_title">{{listInfo.goodsNo}}</div>
          <div class="list_label">
            <span class="list_label_sub">{{getPMState}}</span>
          </div>
        </div>

        <!--<div class="list_address">-->
          <!--<div class="list_label">-->
            <!--<span class="list_label_sub">{{getPMState}}</span>-->
          <!--</div>-->
          <!--{{listInfo.goodsName}}</div>-->
        <div class="list_address">{{listInfo.goodsName}}</div>
        <div :class="['list_bottom',state?'':'on']">
          <div class="list_data">
            <p class="list_data_sub">拍卖日期<span class="list_data_time">{{listInfo.auctionTime}}</span></p>
            <!--<div class="list_data_sub">公告日期2018-08-10</div>-->
          </div>
          <div class="list_price">
            <p class="list_price_sub">起拍价<span class="list_price_num"><span>{{getPrice}}</span> <span class="list_price_c">{{danwei}}</span> </span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {formatCurrency} from '../utils/data/handleUtils'
export default {
	data () {
		return {
			default_pic: '../../static/images/default_pic.png',
			danwei: '元'
		}
	},
	props: {
		listInfo: Object,
		state: Number,
		showDot: {
			type: Boolean,
			default: false
		}
	},
	onLoad () {},
	methods: {
		onPress () {
			this.$emit('toDetail', this.listInfo)
		}
	},

	computed: {
		getPrice () {
			if (this.showDot) {
				this.danwei = '元'
				return `${(formatCurrency(this.listInfo.minPrice) || '')} `
			} else {
				if (this.listInfo.minPrice / 10000 >= 1) {
					this.danwei = '万元'
					return `${(this.listInfo.minPrice / 10000) || ''} `
				} else {
					this.danwei = '元'
					return `${(formatCurrency(this.listInfo.minPrice) || '')}  `
				}
			}
		},
		getPMState () {
			let state = ''
			switch (this.listInfo.pmState) {
			case 1:
				state = '一拍'
				break
			case 2:
				state = '二拍'
				break
			case 10:
				state = '变卖'
				break
			default:
				break
			}
			return state
		}
	}

}
</script>
<style>
.list_sub {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  /*border-bottom: 1px solid #f7f7f7;*/

  .list_img {
    flex: 0 0 210rpx;
    display: flex;
    justify-content: center;
    align-items: center;

    .list_img_sub {
      width: 193rpx;
      height: 193rpx;
    }

    .list_img_sub.on {
      background: #fff url("../../static/images/default_pic.png") center no-repeat;
      background-size: 150rpx 131.25rpx;
    }

  }

  .list_content {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20rpx;

  }

  .list_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 33rpx;
    width: 95%;
    margin: 10rpx auto 0;

    .list_title {
      color: #f0220d;
    }

    .list_label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .list_label_sub {
        font-size: 28rpx;
        line-height: 20rpx;
        display: block;
        height: 20rpx;
        padding: 13rpx;
        color: #fff;
        background: #E7B328;
        border-radius: 8rpx;

      }

    }
  }
/*.list_label{*/
  /*display:inline-block;*/
  /*font-size: 28rpx;*/
  /*line-height: 20rpx;*/
  /*height: 20rpx;*/
  /*padding: 13rpx;*/
  /*color: #fff;*/
  /*background: #43bf00;*/
  /*border-radius: 8rpx;*/
  /*marign-right:20rpx;*/
/*}*/
  .list_address {
    width: 95%;
    color: #464646;
    font-size: 28rpx;
    padding: 10rpx 0;
    line-height: 40rpx;

    margin: 0 auto;
  }

  .list_bottom {

    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/

    .list_data {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .list_data_sub {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #464646;
        font-size: 26rpx;
        line-height: 40rpx;
        margin-bottom: 10rpx;

        .list_data_sub.on {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: #464646;
          font-size: 26rpx;
          line-height: 40rpx;
          margin-bottom: 10rpx;
        }

        .list_data_time {}
      }

    }

    .list_price {

      .list_price_sub {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #ed0000;
        font-size: 26rpx;
        padding-right: 10rpx;
        line-height: 40rpx;
        vertical-align: bottom;

        .list_price_num {
          color: #ed0000;
          font-size: 32rpx
        }

        .list_price_c {
          font-size: 28rpx
        }
      }
    }
  }
  .list_bottom.on{
    flex-direction: row;
    justify-content: space-between;
    .list_data_sub{
      flex-direction: column;
    }
    .list_price_sub{
      text-align: right;
      flex-direction: column;
    }
  }
}

</style>
