<template>
  <div class="loadMoreDiv">
    <div v-if="loadMore" class="weui-loadmore">
      <div class="weui-loading"></div>
      <div class="weui-loadmore__tips">上拉加载...</div>
    </div>
    <div v-else class="weui-loadmore weui-loadmore_line">
      <div class="weui-loadmore__tips weui-loadmore__tips_in-line">无更多数据</div>
    </div>
  </div>
</template>

<script>
export default {
	data () {
		return {

		}
	},
	props: {
		loadMore: String
	},
	methods: {

	}
}
</script>

<style scoped>
  .loadMoreDiv{
    display: flex;
  }
</style>