<template>
  <section v-if="isShow" class="orderRegister">
    <i-tabs :current="current" color="#F73C31" @change="handleChange">
      <i-tab key="all" title="全部" @click="FN_all" :count="allInfo_2.length"></i-tab>
      <i-tab key="nosign" title="未签到" @click="FN_nosign" :count="nosignInfo_2.length"></i-tab>
      <i-tab key="sign" title="已签到" @click="FN_sign" :count="signInfo_2.length"></i-tab>
    </i-tabs>

    <i-index v-if="isShow2" class="index_wrap" height="600rpx" itemHeight="11" @change="onChange">
      <div class="noData" v-if="listInfo_2.length == 0">暂无数据</div>
      <i-index-item
        v-for="(item, index) in listInfo"
        :key="index"
        :name="item.key"
        :length="item.list.length">
        <view
          :class="['i-index-demo-item',whoClick[it.info.id]&&'on']"
          v-for="(it, itIndex) in item.list"
          :key="itIndex"
          :data-index="itIndex"
          :data-id="it.info.id"
          :data-state="it.info.signState"
          :data-code="it.info.code"
          @click="item_click"
        >
          <div class="info_xingWrap">
            <div class="info_xing">{{it.xing}}</div>
          </div>
          <div class="info_content">
            <div class="info_contentW">
              <div class="info_name">{{it.info.man}}</div>
              <div class="info_tel">联系电话：{{it.info.tel}}</div>
            </div>
            <div class="info_yuyuema">预约码:{{it.info.code}}</div>
          </div>
          <image :data-code="it.info.code" :data-id="it.info.id" :data-state="it.info.signState" @click="FN_qiandao" :src="[it.info.signState?'../../static/images/isqd_on.png':'../../static/images/isqd.png']" class="info_qiandao"></image>

        </view>
      </i-index-item>
    </i-index>
  </section>
</template>

<script>
import listSingleView from './listSingleView'
// import {cities} from '../utils/data/mincity'
export default {
	data () {
		return {
			listInfo: [],
			listInfo_2: [],
			allInfo: [],
			allInfo_2: [],
			nosignInfo: [],
			nosignInfo_2: [],
			signInfo: [],
			signInfo_2: [],
			current: 'all',
			currentIndex: 0,
			whoClick: {},
			isShow: true,
			isShow2: true
		}
	},

	components: {
		listSingleView
	},

	props: {
		listData: Object,
		qiandao: Function
	},

	methods: {
		initData () {
			const a = this.listData
			let b = []
			let c = []
			for (let i = 0; i < a.length; i++) {
				if (a[i].signState === 0) {
					b.push(a[i])
				} else if (a[i].signState === 1) {
					c.push(a[i])
				}
			}
			this.allInfo = a
			this.allInfo_2 = a
			this.nosignInfo = b
			this.nosignInfo_2 = b
			this.signInfo = c
			this.signInfo_2 = c

			this.dataZL('allInfo')
			this.dataZL('nosignInfo')
			this.dataZL('signInfo')
			this.dataZH()
		},

		dataZL (_data) {
			// let words = []
			// this[_data].forEach((item) => {
			// 	console.log(item.firstCharacter, '123')
			// 	let firstName = item.firstCharacter.substring(0, 1).toUpperCase()
			// 	let isHave = false
			// 	for (let i = 0; i < words.length; i++) {
			// 		if (words[i] === firstName) {
			// 			isHave = true
			// 		}
			// 	}
			// 	if (!isHave) {
			// 		words.push(firstName)
			// 	}
			// })
			const words = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
			let storeCity = new Array(words.length)
			words.forEach((item, index) => {
				storeCity[index] = {
					key: item,
					list: []
				}
			})
			this[_data].forEach((item) => {
				let firstName = item.firstCharacter.substring(0, 1).toUpperCase()
				let xing = item.man.substring(0, 1)
				let index = words.indexOf(firstName)
				storeCity[index].list.push({
					info: item,
					key: firstName,
					xing: xing
				})
			})
			this[_data] = storeCity
		},
		dataZH () {
		  switch (this.currentIndex) {
			case 0:
				this.listInfo = this.allInfo
				this.listInfo_2 = this.allInfo_2
				break
			case 1:
				this.listInfo = this.nosignInfo
				this.listInfo_2 = this.nosignInfo_2
				break
			case 2:
				this.listInfo = this.signInfo
				this.listInfo_2 = this.signInfo_2
				break
			}
		},
		FN_all () {
			this.currentIndex = 0
		},
		FN_nosign () {
			this.currentIndex = 1
		},
		FN_sign () {
			this.currentIndex = 2
		},

		handleChange ({ mp: {detail} }) {
			this.current = detail.key
		},

		onChange (data) {
		},
		item_click (e) {
		  // if (e.currentTarget.dataset.state === 1) {
		  //   return
			// }
			// this.whoClick = {}
			// this.whoClick[e.currentTarget.dataset.id] = true
			// this.$emit('okUseId', e.currentTarget.dataset.id, e.currentTarget.dataset.code)
		},
		FN_qiandao (e) {
			// if (e.currentTarget.dataset.state === 1) {
			// 	return
			// }
			// this.whoClick = {}
			// this.whoClick[e.currentTarget.dataset.id] = true
			// this.$emit('okUseId', e.currentTarget.dataset.id, e.currentTarget.dataset.code)
			// this.$emit('qiandao', '')
		}
	},
	watch: {
		listData (val) {
			this.initData()
		},
		currentIndex (val) {
			this.dataZH()
		}
	}
}
</script>>

<style s>
  @import '../utils/style/mixin';
  .noData{
    width:100%;
    padding-top:50rpx;
    text-align: center;
  }
  .orderRegister{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .index_wrap{
    background:#eee;
  }
  .i-index-demo-item{
    width:100%;
    padding:20rpx 0;
    height:65rpx;
    display:flex;
    flex-direction:row;
    background:#fff;
    border-bottom:1px dashed #eee;
    align-items: center;
  }
  .i-index-demo-item.on{
    background:rgba(248,54,34,0.1);
  }
  .info_xing{
    width:65rpx;
    height:65rpx;
    text-align:center;
    line-height:65rpx;
    color:#fff;
    background:#e8b400;
    font-size:30rpx;
    border-radius:50%;
  }
  .info_xingWrap{
    margin-left:20rpx;
    flex:0 0 120rpx;
  }
  .info_content{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }
  .info_contentW{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    font-size:25rpx;
  }
  .info_yuyuema{
    color:#f93723;
    font-size:22rpx;
  }
  .info_qiandao{
    margin-left:30rpx;
    margin-right:40rpx;
    width:65rpx;
    height:65rpx;
    flex:0 0 65rpx;

  }
</style>


