<template>
  <picker v-if="type == selector" mode="selector" range="selectData"></picker>
  <picker v-else-if="type == multiSelector" mode="multiSelector" range="selectData"></picker>
  <picker v-else mode="type"></picker>
</template>
<script>
export default{
	props: ['type', 'selectData']
}
</script>
<style>

</style>
