<template>
  <div>
    <div class="table">
      <div class="tr" v-for="(data,index) in tableData">
        <div class="t1">{{data.name}}</div>
        <div v-if="data.content">{{data.content}}</div>
        <div v-else-if="data.sub" class="t2">
          <div v-for="(subData,index2) in data.sub" class="t-w">
            <div class="t3">{{subData.name}}</div>
            <div class="t4" v-if="subData.content">{{subData.content}}</div>
            <div v-else-if="data.sub" class="t2">
              <div v-for="(subData2,index3) in subData.sub" class="t-w">
                <div class="t3 t5">{{subData2.name}}</div>
                <div class="t4" v-if="subData2.content">{{subData2.content}}</div>
              </div>
            </div>
          </div>
        </div>
        <div v-else></div>
      </div>
    </div>
  </div>
</template>
<script>
export default{
	props: ['tableData'],
	methods: {
	  show () {
		}
	}
}
</script>
<style>
.table{
  width :calc(100% - 10rpx);
  margin:0 auto;
  box-sizing:border-box;
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  text-align: center;
}
.tr{
  display: flex;
  align-items:stretch;
  box-sizing:border-box;
  border-bottom:1px solid black;
}
.t1{
  flex: 0 0 200rpx;
  box-sizing:border-box;
  border-right:1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t2{
  width:100%;
}
.t-w{
  display: flex;
  align-items:stretch;
  border-bottom:1px solid black;
}
.t-w:last-child{
  border-bottom:none;
}
.t3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 200rpx;
  padding:15rpx;
  border-right:1px solid black;
}
.t5{
  flex: 0 0 100rpx;
}
.t4{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  box-sizing:border-box;
}
</style>
