<template>
  <section class="orderRegister">
     <div style="flex: 1;">
       <list-single-view
        :listInfo="listInfo"
      />
      <list-single-view
        :listInfo="listInfo"
      />
      <list-single-view
        :listInfo="listInfo"
      />
     </div>
    <i-tabs :current="current" color="#F73C31" @change="handleChange">
      <i-tab key="all" title="全部" count="99"></i-tab>
      <i-tab key="nosign" title="未签到" count="2"></i-tab>
      <i-tab key="sign" title="签到" count="1"></i-tab>
    </i-tabs>

    <i-index height="600rpx" itemHeight="11" @change="onChange">
        <i-index-item
            v-for="(item, index) in cities"
            :key="index"
            :name="item.key">
            <view
                class="i-index-demo-item"
                v-for="(it, itIndex) in item.list"
                :key="itIndex"
              >
                {{it.name}}
            </view>
        </i-index-item>
    </i-index>
    <div style="flex: 1;">
       <list-single-view
        :listInfo="listInfo"
      />
      <list-single-view
        :listInfo="listInfo"
      />
      <list-single-view
        :listInfo="listInfo"
      />
     </div>
  </section>
</template>

<script>
import listSingleView from '../../components/listSingleView'
import {cities} from '../../utils/data/mincity'
export default {
	data () {
		return {
			listInfo: {},
			current: 'all',
			cities: []
		}
	},

	components: {
		listSingleView
	},

	onLoad () {
		this.initData()
	},

	onReady () {
		let storeCity = new Array(26)
		const words = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
		words.forEach((item, index) => {
			storeCity[index] = {
				key: item,
				list: []
			}
		})
		cities.forEach((item) => {
			let firstName = item.pinyin.substring(0, 1).toUpperCase()
			let index = words.indexOf(firstName)
			storeCity[index].list.push({
				name: item.name,
				key: firstName
			})
		})
		this.cities = storeCity
	},

	methods: {
		initData () {
			this.listInfo = {
				title: 'WT0001',
				jipai: '一拍',
				describe: '温岭市冰海镇黄河路大街上洪湖花园7栋三单元301的房地产',
				paiDate: '2018-08-10',
				ggDate: '2018-08-10',
				price: '2343.2万'
			}
		},

		handleChange ({ mp: {detail} }) {
			this.current = detail.key
		},

		onChange (data) {
		}
	}
}
</script>>

<style>
  @import '../../utils/style/mixin';
  .orderRegister{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
</style>


