<template>
  <div class="container">
    <div class="timePickWrapW">
      <div class="timePickWrap">
        选择时间
        <picker mode="date" class="pick_time" @change="startTimeChange">{{startWord}}</picker>
        至
        <picker mode="date" class="pick_time" @change="endTimeChange">{{endWord}}</picker>
      </div>
    </div>
    <ul class="list2">
      <dl class="list2_sub" v-for="(listItem, listIndex) in listData" :key="listIndex">
        <span class="timeAxis level3"></span>
        <dt class="list2_top">
          <div class="list2_top_line">
          </div>
          <div class="list2_date">
            预约日期：{{listItem.dateEnd}}
          </div>
        </dt>
        <dl class="list2_bottom" :data-id="listItem.id" :data-index="listIndex"  @click="navToPage">
          <list-view :listInfo="listItem" :state="1"/>
        </dl>
      </dl>
    </ul>
  </div>
</template>

<script>
import listView from '../../components/list_view.vue'
import {postGoodsList} from '../../fetchData/fetchGoodsInfo'
import Tips from '../../utils/tipUtil/tips'

// import {getSearchListApi} from '../../fetchData/fetchDiscover'
export default {
	data () {
		return {
			listData: [],
			startTime: null,
			startWord: null,
			endTime: null,
			endWord: '.....'
		}
	},
	onReady () {
		this.initData()
	},
	components: {
		listView
	},
	methods: {
		async initData () {
			// const result = await postGoodsInfo()
			this.initTime()
			this.getDate()
		},
		navToPage (e) {
			this.listData[e.currentTarget.dataset.index].summary = ''
			wx.navigateTo({
				'url': `/pages/reservationsSub/main?id=${e.currentTarget.dataset.id}&info=${JSON.stringify(this.listData[e.currentTarget.dataset.index])}`
				// 'url': `/pages/reservationsSub/main?id=${e.currentTarget.dataset.id}`
			})
		},
		async getDate () {
			const result = await postGoodsList({
				'dateStartStart': this.startTime.join('-') + ' 10:00:00', // 用于查询-开始时间开始
				'dateStartEnd': this.endTime ? this.endTime.join('-') + ' 10:00:00' : null, // 用于查询-开始时间结束
				'sorter': 'date_start DESC'
			})
			this.listData = result.list
		},
		initTime () {
			let date = new Date()
			let year = date.getFullYear()
			let month = date.getMonth() + 1
			let day = date.getDate()
			console.log(year, month + 1, day)
			this.startTime = [year, month, day]
			// this.endTime = [year, month, day]
		},
		startTimeChange (e) {
		  let date = e.mp.detail.value.split('-')
		  let isBig
		  if (this.endTime) {
				isBig = true
				for (let i = 0; i < date.length; i++) {
					if (date[i] < this.endTime[i]) {
						isBig = false
						break
					}
					if (i === (date.length - 1)) {
						if (date[i] === this.endTime[i]) {
							isBig = false
							break
						}
					}
				}
			} else {
				isBig = false
			}
			if (isBig) {
				Tips.toast({title: '起始日期不可大于结束日期'})
			} else {
				this.startTime = date
				this.getDate()
			}
		},
		endTimeChange (e) {
			let date = e.mp.detail.value.split('-')
			let isBig = false
			for (let i = 0; i < date.length; i++) {
				if (date[i] > this.startTime[i]) {
					isBig = true
					break
				}
				if (i === (date.length - 1)) {
					if (date[i] === this.startTime[i]) {
						isBig = true
						break
					}
				}
			}
			if (isBig) {
				this.endTime = date
				this.getDate()
			} else {
				Tips.toast({title: '结束日期不可小于起始日期'})
			}
		}
	},
	watch: {
		startTime (val) {
		  console.log(val)
			if (val.length === 3) {
				this.startWord = val[0] + '/' + val[1] + '/' + val[2]
			}
		},
		endTime (val) {
			if (val.length === 3) {
				this.endWord = val[0] + '/' + val[1] + '/' + val[2]
			}
		}
	}
}
</script>

<style>
  page{
    background:#f7f7f7;
  }
  .timePickWrapW{
    padding:16rpx 0;
    background:#fff;
  }
  .timePickWrap{
    display:flex;
    flex-direction: row;
    font-size:30rpx;
    width:100%;
    padding:0 50rpx;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .pick_time{
    margin:0 20rpx;
    min-width:150rpx;
    color:#666666;
    background:#f7f7f7;
    padding:0 10rpx;
    border:1px solid #f93723;
    text-align: center;
  }
  .container{
    padding-left:0;
    background:#f7f7f7;
    width:100%;
    padding:0;
    flex-direction:none;
    display:block;
    .list2{
      width:100%;
      margin-top:44rpx;
      box-sizing:border-box;
      padding-left:50rpx;
      .list2_sub{
        position:relative;
        box-sizing:border-box;
        border-left:2px dashed #cccccc;
        padding-bottom:40rpx;
        .timeAxis{
          width:25rpx;
          height:25rpx;
          position:absolute;
          top:-12.5rpx;
          left:-12.5rpx;
          border-radius:50%;
        }
        .timeAxis.level1 {
          background:#e77d20;
        }
        .timeAxis.level2 {
          background:#0ec000;
        }
        .timeAxis.level3 {
          background:#cccccc;
        }
        .list2_top{
          position:absolute;
          top:-17rpx;
          display:flex;
          flex-direction:row;
          .list2_top_line{
            width:14rpx;
            height:2rpx;
            background:#ccc;
            margin-left:15rpx;
            margin-top:17rpx;
          }
          .list2_date{
            margin-left:8rpx;
            background:#e7e7e7;
            height:36rpx;
            padding:0 15rpx;
            font-size:26rpx;
          }
        }
        .list2_bottom{
          box-sizing:border-box;
          padding:30rpx 0 20rpx 37rpx;
        }
      }
      .list2_sub:last-child{
        border-left:none;
      }
    }
  }
</style>
