<template>
  <div class="my-container">
    <div class="pass_list">
      <div class="pass_list_sub">
        <span class="list_label">姓名</span>
        <input class="list_input" type="text" v-model="name" placeholder="请输入您的姓名"/>
      </div>
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">性别</span>-->
        <!--<picker class="list_input" :range="sex" :value="sexIndex" @change="changeSex">-->
          <!--<view class="picker">-->
             <!--{{sex[sexIndex]}}-->
          <!--</view>-->
        <!--</picker>-->
      <!--</div>-->
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">手机号码</span>-->
        <!--<input class="list_input" v-model="phone" type="text" placeholder="请再次您的手机号"/>-->
      <!--</div>-->
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">公司名称</span>-->
        <!--<input class="list_input" type="text" v-model="company" placeholder="请输入您的公司名称"/>-->
      <!--</div>-->
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">公司地址</span>-->
        <!--<input class="list_input" type="text" v-model="address" placeholder="请输入您的公司地址"/>-->
      <!--</div>-->
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">部门名称</span>-->
        <!--<input class="list_input" type="text" v-model="department" placeholder="请输入您的部门名称"/>-->
      <!--</div>-->
      <!--<div class="pass_list_sub">-->
        <!--<span class="list_label">职称</span>-->
        <!--<input class="list_input" type="text" v-model="title" placeholder="请输入您的职称"/>-->
      <!--</div>-->
    </div>
    <div class="button-submit" @click="submitInfo">提交</div>
  </div>
</template>

<script>
import store from '../../store/store'

import {upLoadztStaffInfo} from '../../fetchData/fetchMyProfile'
import Tips from '../../utils/tipUtil/tips'

export default {
	data () {
		return {
		  name: '',
			sex: ['保密', '男', '女'],
			sexIndex: 0,
			phone: ''
		}
	},
	components: {

	},
	onShow () {
		let data = store.state.ztInfo
		this.name = data.name
		// this.phone = data.telNo
	},
	methods: {
	  changeSex (e) {
			this.sexIndex = e.target.value
		},
		async submitInfo () {
			let value = await upLoadztStaffInfo({
				'name': this.name
				// 'telNo': this.phone
			})
			console.log(value)
			this.$store.commit('ZT_Info', {
				'name': this.name
				// 'phone': this.phone
			})
			wx.navigateBack({
				delta: 1,
				success: function () {
					Tips.toast({
						title: '修改成功'
					})
				}
			})
		}
	}
}
</script>

<style scoped>
  .my-container{
    padding-top:1px;
    height:100%;
    background:#f7f7f7;
    .pass_list{
      margin-top:10rpx;
      background:#fff;
      padding:22rpx 0 1px;
    .pass_list_sub{
      width:680rpx;
      margin:0 auto 22rpx;
      height:64rpx;
      display:flex;
      font-size:30rpx;
    .list_label{
      flex:0 0 170rpx;
      color:#aaaaaa;
      line-height:64rpx;
    }
    .list_input{
      width:100%;
      height:100%;
      border:1px solid #cccccc;
      text-indent:10rpx;
    .picker{
      width:100%;
      height:68rpx;
      line-height:68rpx;

    }
    }
    }

    }
    .button-submit{

      width:674rpx;
      height:80rpx;
      color:#fff;
      font-size:30rpx;
      line-height:80rpx;
      text-align: center;
      background:#ff3520;
      margin:30rpx auto 0;
    }
  }

</style>
